<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net45" />
</packages>